.gradient-border {
	height: 100%;
	border-radius: 50%;
	border: 6px solid var(--primary-color-transparent-25);
	aspect-ratio: 1;
	max-width: 150px;
	&.gradient-border__large {
		border: 10px solid var(--primary-color-transparent-25);
		&::before {
			padding: 5px;
			margin: -5px;
		}
	}
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 50%;

		padding: 3px;
		margin: -3px;
		background: linear-gradient(25deg, var(--primary-color), var(--secondary-color));
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: exclude;
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
	}
	img {
		border-radius: 50%;
		height: 100%;
	}
  .blurred-img {
    border-radius: 50%;
  }
}
