#skills-container {
	$triangle-height: 80px;
	$triangle-width: $triangle-height * 1.84;
	--triangles-gap: 6px;
	--triangles-number-top: 7;
	padding: 0 0 calc(var(--triangles-gap) * 2) 0;
	margin-bottom: var(--triangles-gap);
	font-size: 0.9rem;
	.grid-triangles {
		display: grid;
		grid-template-columns: repeat(var(--triangles-number-top), 1fr);
		grid-auto-rows: minmax(min-content, max-content);
		column-gap: calc(var(--triangles-gap) * 2);
		row-gap: calc(var(--triangles-gap) * 3);
		align-items: end;
		line-height: 0;
		input[type="checkbox"] {
			display: none;
			&:checked + .card {
				.card__inner {
					transform: rotateY(-180deg);
				}
			}
		}
		.card {
			overflow: hidden;
			width: 100%;
			aspect-ratio: 1.8421610547795;
			.card__inner {
				transition: transform 0.3s ease-in-out;
				transform-style: preserve-3d;
				width: 100%;
				height: 100%;
			}
			&__front,
			&__back {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
			}
			&__back {
				color: var(--primary-color);
				transform: rotateY(180deg);
				span {
					color: white;
				}
			}
			label {
				position: absolute;
				height: 150%;
				aspect-ratio: 1;
				bottom: 25%;
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				z-index: 10;
			}
		}
		span {
			position: absolute;
			left: 50%;
			top: 2px;
			transform: translateX(-50%);
			color: var(--text-color-inverted);
			font-weight: bold;
			line-height: normal;
		}
		&.top {
			svg {
				transform: rotate(180deg);
			}
		}
		&.bottom {
			position: absolute;
			grid-template-columns: repeat(calc(var(--triangles-number-top) - 1), 1fr);
			left: calc(
				(100% - (var(--triangles-number-top) - 1) * var(--triangles-gap) * 2) / var(--triangles-number-top) / 2 +
					var(--triangles-gap)
			);
			top: calc(var(--triangles-gap) * 2);
			width: calc(
				100% - (100% - (var(--triangles-number-top) - 1) * var(--triangles-gap) * 2) / var(--triangles-number-top) -
					var(--triangles-gap) * 2
			);
			span {
				top: auto;
				bottom: 5px;
			}
			label {
				bottom: auto;
				top: 25%;
			}
		}
	}
}

@media (max-width: 768px) {
	#skills-container {
		--triangles-number-top: 4;
		--triangles-gap: 10px;
	}
}

@media (max-width: 425px) {
	#skills-container {
		--triangles-number-top: 3;
		--triangles-gap: 6px;
		font-size: 0.85rem;
	}
}

@media (max-width: 375px) {
	#skills-container {
		font-size: 0.7rem;
	}
}
